@model IEnumerable<Spend.Models.ACC_HOLDERTBL_Model>
@using System.Globalization;
@{
    ViewBag.Title = "الحسابات";
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.CurrencyDecimalDigits = 2;
    nfi.NumberDecimalDigits = 2;
    nfi.CurrencyDecimalSeparator = ".";
    nfi.CurrencyGroupSeparator = ",";
    nfi.CurrencySymbol = "";
    nfi.NegativeSign = "-";
    nfi.NumberNegativePattern = 1;
    nfi.CurrencyNegativePattern = 1;
}


@if (Model != null)
{
    <div class="dashboard-content-wrap">
        <div class="dashboard-bread dashboard--bread dashboard-bread-2">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30 text-white">الحسابات</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="breadcrumb-list text-right">
                            <ul class="list-items">
                                <li><a href="~" class="text-white">الصفحة الرئيسية</a></li>

                                <li>الحسابات</li>
                            </ul>
                        </div><!-- end breadcrumb-list -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div>
        </div><!-- end dashboard-bread -->
        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-box">
                            <div class="form-title-wrap">
                                @*<div>
                                        <h3 class="title">قوائم المسافر</h3>
                                        <p class="font-size-14">إظهار 1 إلى 10 من أصل 20 مُدخل</p>
                                    </div>*@

                                <a href="~/OtherAcc/create" class="btn btn-primary btn-sm "> <i class="fa fa-plus"> </i> انشاء حساب </a>

                            </div>
                            <div class="form-content">
                                <div class="table-form table-responsive">
                                    <table class="display " id="data-table">
                                        <thead>
                                            <tr>
                                                <th>الرقم</th>
                                                <th>الاسم </th>
                                                <th>رقم الحساب</th>

                                                <th>النوع</th>

                                                <th>الرصيد</th>
                                                <th>الحالة</th>
                                                <th>الملاحظة</th>


                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model)
                                            {


                                                <tr>

                                                    <td>
                                                        @{ try
                                                            { @item.ACC_HOLDER_NO }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.ACC_HOLDER_NAME }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>

                                                    <td>
                                                        @{ try
                                                            {@item.ACC_NO }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>


                                                    <td>
                                                        @{ try
                                                            {@item.ACCH_TYPETBL_Model.NAME_AR}
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{ try
                                                            {@item.BALANCE.ToString("C", nfi)}
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>


                                                    <td>
                                                        @if (item.IS_ENABLE)
                                                        {
                                                            <span class="badge badge-primary py-1 px-2"> مفعل</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-warning text-white py-1 px-2">غير مفعل</span>
                                                        }
                                                    </td>


                                                    <td>
                                                        @{ try
                                                            {@item.NOTE }
                                                        catch
                                                        {

                                                        }
                                                        }
                                                    </td>




                                                    <td>
                                                        <div class=" col-12">
                                                            <div class="row">
                                                                <div class="col-md-3 m-1">
                                                                    <a href="~/OtherAcc/details/@item.ACC_HOLDER_NO" class="btn btn-success btn-sm "> <i class="la  la-eye"> </i></a>
                                                                </div>
                                                                <div class="col-md-3 m-1">
                                                                    <a href="~/OtherAcc/Update/@item.ACC_HOLDER_NO" class="btn btn-info btn-sm "> <i class="la  la-edit"></i></a>
                                                                </div>

                                                                <div class="col-md-3 m-1">
                                                                    <button class="btn btn-danger btn-sm " onclick="DeleteConfirmbox(@item.ACC_HOLDER_NO)"> <i class="la  la-trash"></i></button>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div><!-- end form-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->

                <div class="border-top mt-5"></div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="copy-right padding-top-30px">
                            <p class="copy__desc">
                                &copy; Copyright Tech Light 2022. Made with
                                <span class="la la-heart"></span> by <a href="http://TechLightsa.com/">Noury</a>
                            </p>
                        </div><!-- end copy-right -->
                    </div><!-- end col-lg-7 -->
                    <div class="col-lg-5">
                        <div class="footer-social-box text-right padding-top-30px">
                            <ul class="social-profile">
                                <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                                <li><a href="#"><i class="lab la-twitter"></i></a></li>
                                <li><a href="#"><i class="lab la-instagram"></i></a></li>
                                <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                            </ul>
                        </div><!-- end copy-right-content -->
                    </div><!-- end col-lg-5 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-main-content -->
    </div><!-- end dashboard-content-wrap -->

}


<script>

        jQuery(document).ready(function () {


        ReportTabl = jQuery('#data-table').DataTable({



              });



        });

 function DeleteConfirmbox(id) {



     var result = confirm('هل انت متاكد من عملية الحذف?');
     if (result) {
         $.ajax({
                 url: '@Url.Action("Delete", "OtherAcc")',
                 type: 'POST',
                 data: { id: id },
                 success: function(response) {
                     if (response.success) {
                         alert("تم الحذف بنجاح");
                         window.location.reload(true);
                     } else {
                         alert("فشل في الحذف");
                     }
                 },
                 error: function(xhr, status, error) {
                     console.log(xhr.responseText);
                     alert("حدث خطأ أثناء الحذف");
                 }
             });

         return false;
     }
 }


</script>

